@import "material-icons/iconfont/material-icons.css";
body {
  background-color: black;
  width: 100vw;
}
.LoggedUser {
  width: 500px;
  margin: auto;
  color: white;
  .Spin {
    padding: 100px;
  }
  .userData {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: white;
    border: 1px solid grey;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    .items {
      display: flex;
      align-items: center;
      font-size: 23px;
      gap: 40px;
      button {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 27px;
        background-color: black;
        color: white;
        border: 1px solid white;
      }
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .userName {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      width: 100%;
    }
  }
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:20px;
    gap: 20px;
    .post{
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      border-bottom: 1px solid white;
      h2{
        color: grey;
      }
      .commentsLikes{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: large;
        align-items: center;
        div{
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-size: large;
        }
      }
    }
  }
}
.ant-modal-content{
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    .span1{
      position: absolute;
      top: 0px;
      right: 10px;
      font-size: 25px;
    }
}
.connectionContainer{
  .ant-tabs-tab-btn{
    color: white;
  }
  .tab{
    color: white;
  }
}
.spin{
  padding: 100px;
}
.suggestions{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  width: min(500px,90vw);
  border: 1px solid #e3e3e3;
  margin: auto;
  gap: 15px;
  color: white;
  .user{
    font-size: large;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e3e3e3;
    padding: 20px;
    button{
      font-size: large;
      background-color: blue;
      color: white;
      border: none;
      padding: 10px;
    }
  }
}