@import "material-icons/iconfont/material-icons.css";
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
  color: #fff;
}
.form {
  background-color: #e3e3e3;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    background-color: white;
    width: 30%;
    padding: 60px 50px;
    h4 {
      padding-top: 20px;
      box-sizing: border-box;
    }
  }
}
.homeWrapper {
  width: min(500px, 90vw);
  margin: auto;
  .profile {
    box-shadow: 0px 0px 3px white;
    padding: 15px;
    .items {
      padding: 20px;
      display: flex;
      justify-content: space-evenly;
      .createPost {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 50%;
        border: 2px solid white;
        span {
          font-size: 2rem;
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        b,
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.post{
  .postLists{
    padding: 10px 4px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title{
      color: grey;
      text-shadow: 0px 0px 1px white;
      font-size: 23px;
    }
    .items{
      display: flex;
      gap: 15px;
      justify-content: flex-end;
      .item{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
    }
  }
}
.ant-tabs-tab-btn{
  color: white;
}
.suggestions{
  width: min(500px,90vw);
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  .user{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    gap: 5px;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 10px;
    button{
      color: white;
      background-color: blue;
      border: none;
      padding: 10px;
    }

  }
}