body{
    width: 95%;
    margin: auto;
}
.form{
    width: 90%;
    margin: auto;
    form{
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        gap: 20px;
        input{
            padding: 10px 7px;
            font-size: large;
            border: 2px solid black;
            border-radius: 5px;
        }
        input:focus{
            outline: none;
        }
        input::placeholder{
            color: black;
            font-size: large;
        }
        button{
            width: fit-content;
            padding: 7px 40px;
            font-size: large;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;

        }
    }
}
.postOffice{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .box{
        border: 1px solid black;
        width: fit-content;
        width: 230px;
        padding: 20px;
        font-size: large;
    }
}
.container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    input{
        padding: 10px;
        font-size: large;
        border-radius: 5px;
    }
    input::placeholder{
        color: black;
        font-size: large;
    }
    h1,h2{
        margin: 0px;
    }
}